{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "printWidth": 80,
    "plugins": ["prettier-plugin-tailwindcss"],
    "singleAttributePerLine": true
}
